.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 400px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background-color:white;
	border-radius:15px 15px;
	border:1px solid orange;
}


.ds_box {
	
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-150px;
	z-index:50;
	opacity:10;
}

#ds_conclass
{
width:280px;
height:200px;
background-color: #FFF;
box-shadow:5px 10px 20px #046380;
z-index: 32767;
border: 1px solid #4DB5D4;
}

.ds_tbl {
	background-color: white;
}

.ds_head {
	background-color: white;
	color: #4DB5D4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: orange;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
	border:none;
}

.ds_cell:hover {
	background-color: orange;
} /* This hover code won't work for IE */

.ds_cellClick
{
	background-color: orange;
	cursor: pointer;
	font-size: 15px;
}


.time
{
	width:60px;
}









/*---------------------------------------------------------------------------*/
								/*BALISE HTML*/
/*---------------------------------------------------------------------------*/

html			/*TOUTE LA PAGE*/
{
	/*background-image: url('images/straws_@2X.png');*/
	background-image: url('images/test/light_grey_@2X.png');
	/*background-color: #FEFEFE;*/
}

*::-moz-selection{
background:#EC830B;
color:#fff;
}

*::selection{
background:#EC830B;
color:#fff;
}

*::-webkit-selection{
background:#EC830B;
color:#fff;
}


.secondBack
{
background-image: url('images/straws_@2X.png');
}



footer		/*BAS PAGE*/
{
	margin-top:30%;
	margin-left:7%;
	width:50%;
	font-style:italic;
	text-decoration:underline;
}

body
{
	margin:0; 		/*PERMET DE COLLER LES ELEMENTS SUR LES BORDS*/
	padding:0;
	overflow-y:auto;
	overflow-x:hidden;
	z-index:0;
	height:100%;
	width:100%;
}

/*---------------------------------------------------------------------------*/
								/*FIN BALISE HTML*/
/*---------------------------------------------------------------------------*/
								
								
								
								
								
/*---------------------------------------------------------------------------*/
								/*ELEMENT HTML*/
/*---------------------------------------------------------------------------*/




input 		/*ELEMENT DE FORMULAIRE : CHAMPS DE SAISIE,BOUTTON ...*/
{
	 font-size:16px;
	 font-style:italic;
 }

select 		/*ELEMENT DE FORMULAIRE : LISTE DEROULANTE*/
{
	border:2px solid #046380;
	border-radius:10px;
	width:250px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
}



textarea		/*ELEMENT DE FORMULAIRE : COMMENTAIRES*/
{
	border:1px solid #046380;
	border-radius:5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	margin-left:2px;
	resize:none;
	
	
	/*BLOQUE LA TAILLE DES CHAMPS DE COMMENTAIRES*/
				max-width:100%;
				max-height:80px;  
				max-width:100%;
}

 
h2,h1		/*FAMILLE DE TITRE, GROS TITRE*/
{
	font-style:italic;
}


/*---------------------------------------------------------------------------*/
								/*FIN ELEMENT HTML*/							
/*---------------------------------------------------------------------------*/


hr
{
margin:20px;
color:#4DB5D4;
box-shadow:3px 6px 5px orange;
}




/*---------------------------------------------------------------------------*/
								/*LIEN*/							
/*---------------------------------------------------------------------------*/
a					/*LIEN*/
{
	font-style:italic;
}

/*h5>a,div#liste>a		/*LIENS CONTENU DANS BALISE H5 ET 'LISTE'*/	
/*{
	float:left;
}
*/


.normal
{
	box-shadow:1px 5px 10px grey;
}


.critique
{
	box-shadow:1px 5px 10px red;
	font-weight:bold;
}



/*TOPKAPI INFOS*/
.detailsTop
{
	width:100%;
	box-shadow:15px 20px 40px #4DB5D4;
	border-bottom:0;
	margin-top:2%;
	text-align:center;
	float:left;
	background-color:white;
}

/*BDPTI INFOS*/
.detailsBdpti
{
	width:60%;
	box-shadow:15px 20px 40px #4DB5D4;
	text-align:center;
	float:left;

	background-color:white;
}

.detailsAgate
{
	width:60%;
	box-shadow:15px 20px 40px #4DB5D4;
	text-align:center;
	float:left;
	background-color:white;
}

.detailsAction
{
	width:60%;
	box-shadow:15px 20px 40px #4DB5D4;
	text-align:center;
	float:left;
	margin-top:3%;
	background-color:white;
}

.detailsInfoppv
{
width:100%;
border:3px solid orange;
border-radius:30px 25px;
box-shadow:15px 20px 40px #4DB5D4;
float:left;
padding:10px;
background-color:white;
	
max-height:400px;
overflow-y:auto;
overflow-x:auto;
}

.infoppv
{
	background-color:white;
	box-shadow:15px 10px 20px #4DB5D4;
	width:80%;
	margin-left:10%;
	text-align:center;
	border-radius:30px 25px;
	border-top-right-radius:0;
	border-top-left-radius:0;
	border:1px solid orange;
	border-top:0;
}



div#commentaire
{
/*border:2px solid orange;*/
border-radius:12px;	
width:30%;
padding:10px;
float:right;

margin-right:5%;
max-height:300px;
background:white;
margin-top:2%;
margin-bottom:2%;
box-shadow:15px 20px 40px #4DB5D4;
}


div#ss_statuts
{
margin-left:5%;
margin-top:30px;
width:40%;
max-height:450px;
overflow-x:auto;
overflow-y:auto;
word-wrap:break-word;
padding:30px;
float:left;

background-color:white;
box-shadow:15px 20px 40px #4DB5D4;
border-radius:12px;	
}

div#clotSortie
{
margin-left:3%;
margin-top:30px;
width:40%;
max-height:450px;
overflow-x:auto;
overflow-y:auto;
word-wrap:break-word;
padding:20px;

background-color:white;
box-shadow:15px 20px 40px #4DB5D4;
border-radius:12px;	
}


div#progMsg
{

margin-left:1%;
margin-right:1%;
margin-top:15px;
width:90%;
overflow-x:auto;
overflow-y:auto;
padding:10px;

background-color:white;
box-shadow:15px 20px 40px #4DB5D4;
border-radius:12px;	
}














/*---------------------------------------------------------------------------*/
								/*FIN LIEN*/							
/*---------------------------------------------------------------------------*/





/*---------------------------------------------------------------------------*/
								/*ACTIONS SOURIS*/							
/*---------------------------------------------------------------------------*/

 
 
textarea:hover		/*SURVOLEMENT DES COMMENTAIRES*/
{
	border:1px solid orange;
	border-radius:5px;
 }
 
a:link				
{ 
	color: black;
	text-decoration:none;
	transition: color .3s ease-in;
}

a:visited 			/*LIENS VISITES*/
{
	color: black;
	text-decoration:none;
}

a:hover				/*SURVOLEMENT DES LIENS*/
{
	color: orange;
}




div#classification>input:hover
{
	cursor:pointer;
}



div#classification>input
{
display:inline;
height:30px;
font-style:italic;
margin:5px;
margin-top:0;
background:white;
border:1px solid orange;
position:relative;

border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-right-radius:10px 15px;
border-bottom-left-radius:10px 15px;

border-top:none;
}

div#classification
{
	margin:0 auto;
    width:100%;
	position:absolute;
	top:0;
	padding:0;
	text-align:center;
}




div#classificationDetails>input
{
display:inline;
height:30px;
font-style:italic;
margin:5px;
margin-top:0;
background:white;
border:1px solid orange;

cursor:pointer;
border-radius:10px 15px;

}

div#classificationDetails
{
border-radius:10px 15px;
box-shadow:15px 20px 40px #4DB5D4;
width:60%;
background-color:white;
border:1px solid orange;
margin-top:20%;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}




div#lien										/*LIENS DES ONGLETS*/
{
	width:60%;
	bottom :0;
	float:right;
	position:absolute;
	margin-right:20%;
	margin-left:15%;
	display:inline;
	word-wrap:break-word;
	max-height:100px;
	max-width:800px;
}





.ongletPrin>a
{
	color:#FF6600;
}
















div#timer:hover									/*ENCADRE D'ALERTE DES TIMER*/
{/*
	float:right;
	width:30%;
	padding:20px;
	font-size:14px;
	margin-top:20px;
	font-style:italic;
	box-shadow:15px 20px 40px #046380;
	border:3px solid orange;
	border-right:none;
	border-top-left-radius:60px 50px;
	border-bottom-left-radius:60px 50px;
	background-color:white;
	margin-bottom:10px;
	white-space:nowrap;
	overflow:hidden;


*/

}

.onglet:hover
{
	padding-top:20px;
	font-size:22px;
	box-shadow:1px 1px 10px #FEFEFE;
	transition: all .2s ease-out;
}



/*---------------------------------------------------------------------------*/
								/*FIN ACTIONS SOURIS*/							
/*---------------------------------------------------------------------------*/







/*---------------------------------------------------------------------------*/
								/*DIV*/							
/*---------------------------------------------------------------------------*/


div#courante
{
	background-color:#A9EAFE;
	float:left;
	border-top:none;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:15px 15px;
	border-bottom-left-radius:15px 15px;
	border:1px solid orange;
	border-top:none;
	padding:3px;
	height:50px;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	top:0;
}

div#courante>a>img
{
margin-left:15px;
margin-right:15px;
transition: all .2s ease-out;
}

div#courante>a>img:hover
{
box-shadow:1px 1px 10px white;
transition: all .2s ease-out;
}



.logo
{
	width:10%;
	float:right;
	background-position:right-top;
}


.msgSite
{

float:right;
margin-right:12%;
margin-top:4%;

	padding-bottom:20px;
	background-image: url('images/microphone.png');
	width:30px;
	height:30px;
	float:right;
	background-size:100%;
	background-repeat:no-repeat;

}
.msgSite:hover
{
cursor:pointer
}




									
											/*ENCADRES A LA PAGE D'ACCUEIL*/
		/*PARTAGE CSS*/
div#administration,div#connexion  			
{
	margin-top:7%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:60px 50px;
	padding:30px;
	text-align :center;
	background-color:white;
	
}





		/*SPECIALITEES*/
div#administration
{
	float:right;
	margin-right:20%;
	margin-top:10%;
}
div#connexion
{
	float:left;
	margin-left:20%;
	margin-top:10%;
}

div#statsManuel
{
	margin-top:10%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:15px 15px;
	background-color:white;
	width:50%;
	margin-right:5%;
	float:right;
	padding:20px;
	padding-top:0px;
}



div#statsRapport
{
	margin-top:10%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:15px 15px;
	background-color:white;
	width:30%;
	margin-left:5%;
	float:left;
	padding:20px;
	padding-top:0px;
}

div#admPerson
{
	margin-top:10%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:15px 15px;
	background-color:white;
	width:28%;
	margin-left:5px;
	float:left;
	padding:20px;
	padding-top:0px;
}

div#titreAdm
{
	width:100%;
	box-shadow:2px 3px 5px orange;
	border:2px solid orange;
	border-top:none;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	border-radius:60px 50px;
	text-align:center;
	font-size:20px;
	font-style:italic;
}


div#admAppli
{
	margin-top:10%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:15px 15px;
	padding:20px;
	padding-top:0px;
	background-color:white;
	width:28%;
	margin-left:10px;
	float:left;
}


div#admBase
{
	margin-top:10%;
	font-style:italic;
	font-size:17px;
	border:3px solid orange;
	box-shadow:15px 3px 40px #046380;
	border-radius:15px 15px;
	padding:20px;
	padding-top:0px;
	background-color:white;
	width:28%;
	margin-left:10px;
	float:left;
}



div#notif									/*ENCADRE QUI INDIQUE LE NOMBRE DE AHU ET ABU*/
{
	background-color:#A9EAFE;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:15px 15px;
	border-top-left-radius:15px 15px;

	float:left;
	border-top:none;
	border:1px solid orange;
	padding:3px;
	height:40px;
	overflow:hidden;
	margin:0 auto;
	position:absolute;
	bottom:0;
	width:15%;
	
}

div#notif>table							/*ENCADRE QUI INDIQUE LE NOMBRE DE AHU ET ABU*/
{
	position:absolute;
	margin-left:40%;
	font-size:9px;
}



.sortieAgent
{
	margin-bottom:100px;
}


.notif
{
	float:right;
	margin-right:20%;
	bottom:0;
	margin-top:1%;
}

.notif>tr
{
	font-size:2px;
}

div#actionAgent			/*ENCADRE DES ACTIONS DISPONIBLES*/
{
	float:right;
	width:29%;
	margin-top:20px;
	font-style:italic;
	box-shadow:15px 20px 40px #046380;
	border-top-left-radius:60px 50px;
	border-bottom-left-radius:60px 50px;
	border:3px solid orange;
	border-right:none;
	background-color:white;
}

div#timer									/*ENCADRE D'ALERTE DES TIMER*/
{
	float:right;
	width:1.5%;
	padding:20px;
	font-size:14px;
	margin-top:20px;
	font-style:italic;
	box-shadow:15px 20px 40px #046380;
	border:3px solid orange;
	border-right:none;
	border-top-left-radius:60px 50px;
	border-bottom-left-radius:60px 50px;
	background-color:white;
	margin-bottom:10px;
	white-space:nowrap;
	overflow:hidden;
	transition: all .5s ease-in;
}




div#nvCom									/*ENCADRE D'AJOUT DE COMMENTAIRES*/
{
	width:100%;
	margin-top:0;
	background:none;
}

div#nvCom>input
{
	margin-top:20px;
	margin-left:20px;
}



div#sortieAg									/*ENCADRE DE SORTIE D'AGENT*/
{
	width:60%;
	float:left;
	max-height:100%;
	margin-bottom:100px;
	border-right:3px solid orange;
	border-top:3px solid orange;
	border-bottom:3px solid orange;
	border-top-right-radius:60px 50px;
	border-bottom-right-radius:60px 50px;
	box-shadow:15px 20px 40px #046380;
	border-left:none;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	background-color:white;
	margin-top : 20px;
}



.BtnAnnul
{
float:left;
cursor:pointer;
bottom:0;
left:0;
position:absolute;
}

.BtnValid:hover
{
opacity:1;
}


.BtnAnnul:hover
{
opacity:1;
}


.BtnValid
{
float:right;
cursor:pointer;
bottom:0;
position:absolute;
right:0;
}



div#comment									/*ENCADRE COMPORTANT LES COMMENTAIRES DE L'ALARME SELECTIONNE*/
{
	float:left;
	font-size:14px;
	background-color:white;
	margin-bottom:5px;
	padding:10px;
	width:90%;
	text-align:left;
	word-wrap:break-word;
	border:1px solid orange;
	border-radius:30px 25px;
}

div#txtCom
{
	font-style:italic;
}



/*
div#sortie									/*ENCADRE COMPORTANT LA LISTE DES SURVEILLANCES D'ALARMES
{
	width:65%;
	float:left;
	text-align:center;
	border-right:3px solid orange;
	border-top:3px solid orange;
	border-bottom:3px solid orange;
	border-top-right-radius:60px 50px;
	border-bottom-right-radius:60px 50px;
	box-shadow:15px 20px 40px #046380;
	border-left:none;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	background-color:white;
	margin-bottom:50px;
	
	height:50px;
	white-space:nowrap;
	overflow:hidden;
	
	transition-property:height;
	transition-duration:2s;
	transition-delay:1s;
	transition-timing-function:ease;
	
	font-style:bold;
}




div#actionsSortie									/*ENCADRE QUI COMPREND LES ACTIONS DISPONIBLES POUR UNE ALARME SURVEILLE
{
	padding:5px;
	width:10%;
	float:right;
	background:white;
	text-align:center;
	font-size:12px;
	font-style:italic;
	background-color:white;
	margin-right:50px;
	border-top-left-radius:none;
	border-top-right-radius:none;
	border-bottom-right-radius:60px 50px;
	border-bottom-left-radius:60px 50px;
	border:2px solid orange;
	border-top:0px;
}


div#agent
{
	font-style:italic;
	float:left;
	margin-left:3%;
}
*/


div#sortie:hover
{	
	height:150px;
	overflow:auto;
	transition-delay:0.2s;
	/*
	scrollbar-face-color: red;			//NE FONCTIONNE QUE POUR INTERNET EXPLORER
	*/
}

p>a
{	
color:red;
}


p
{
padding:0;
margin:0;
margin-left:20px;
}


div#coms
{

	float:right;
	text-align:center;
	max-height:100%;
	width:25%;
	border:3px solid orange;
	border-radius:30px 25px;
	box-shadow:15px 20px 40px #4DB5D4;
	padding:5px;
}



div#form								/*ENCADRE COMPORTANT LE FORMULAIRE DE CREATION D'UNE NOUVELLE ALARME(TERME DE FICHE)*/
{
	
	border:3px solid orange;
	border-radius:60px 50px;
	font-size:17px;
	font-style:italic;
	box-shadow:15px 20px 40px #046380;
	width:90%;
	background-color:white;
	margin-left:5%;
	margin-right:5%;
	margin-top : 20px;
}

div#form>input							/*CHAMPS DE TEXTE DU FORMULAIRE DE CREATION D'UNE NOUVELLE ALARME*/
{
	margin-left:23%;
	width:250px;
	text-align:center;
	
}

div#form>select							/*CHAMPS DE TEXTE DU FORMULAIRE DE CREATION D'UNE NOUVELLE ALARME*/
{
	margin-left:40%;
	width:100px;
	text-align:center;
}


div#envMail
{
	border:3px solid orange;
	border-radius:60px 50px;
	font-size:17px;
	font-style:italic;
	text-align:center;
	box-shadow:15px 20px 40px #046380;
	width:90%;
	background-color:white;
	height:300px;
	margin-left:5%;
	margin-right:5%;

}


div#envMail>textarea
{
	/*BLOQUE LA TAILLE DES CHAMPS DE COMMENTAIRES*/
	max-width:80%;
	min-width:80%;
}


div#alerte>a								/*TIMER DEPASSE*/
{
	color:red;
}


div#alerte							/*TIMER DEPASSE*/
{
	color:red;
}




div#ssStatuts
{
	float:left;
	border:3px solid orange;
	border-top:none;
	width:80%;
	border-radius:60px 50px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	font-style:italic;
	text-align:center;
	box-shadow:15px 20px 40px #046380;
	margin-top:0px;
	margin-left:25px;
	padding:10px;
}

div#ssStatuts>select
{
width:150px;
text-align:center;
margin-left:28%;
}


div#agents
{
	float:right;
	border:3px solid orange;
	border-top:none;
	width:35%;
	border-radius:60px 50px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	font-style:italic;
	text-align:center;
	box-shadow:15px 20px 40px #046380;
	margin-top:0px;
	margin-right:10%;
	padding:10px;
}

div#agents>select
{
width:150px;

}


div#bandeau
{
	text-align:center;
	font-size:15px;
	font-style:italic;
	line-height:10px;
	background-color:white;
	margin-top:9%;
	width:50%;
	margin-left:10%;
	border-bottom:15px;
	position:absolute;
	padding:5px;
	border:3px solid red;
	border-bottom :0px;
	border-radius:60px 50px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	box-shadow:5px 10px 20px #046380;
	z-index:-10;
}


div#bandeauDetails
{
	text-align:center;
	font-size:15px;
	font-style:italic;
	background-color:white;
	margin-top:1%;
	width:78%;
	margin-left:10%;
	margin-right:10%;
	border-bottom:15px;
	padding:10px;
	border:3px solid red;
	border-bottom :none;
	border-radius:60px 50px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
	box-shadow:5px 10px 20px #046380;
}



	
	
div#titre
{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	font-family:impact;
	color:#A9EAFE;
	width:95%;
	margin-left:2.5%;
	background:#4DB5D4;
	border:1px solid orange;
	border-radius:12px;	
	height:10%;
}



th>a>img
{
	opacity:0.2;
}

th>a>img:hover
{
	opacity:1;
}



div#comPre
{
border:1px solid orange;
border-radius:12px;
margin-top:15px;	
height:120px;
overflow-x:hidden;
overflow-y:auto;
word-wrap:break-word;
}




div#ss_statuts>input
{
margin:7px;
}


.centre
{
	margin-left:80px;
	font-size:20px;
	
}


/*---------------------------------------------------------------------------*/
								/*FIN DIV*/							
/*---------------------------------------------------------------------------*/



.affMenu
{
float:right;
margin-right:1%;
cursor:pointer;
}


.ssMenuExport,.ssMenuImport,.ssMenuAction
{
	background:white;
	position:fixed;
	font-size:14px;
	padding: 8px;
	z-index: 9999;
	background-color:white;
	border:1px solid orange;
	box-shadow:5px 2px 3px #A9EAFE;
	border-radius:15px 15px;
	cursor:pointer;
	width:120px;
}

.ssMenuExport
{
	margin-left:93%;
}

.ssMenuImport
{
	margin-left:90%;
}

.ssMenuAction
{
	margin-left:87%;
}


.zoom:hover
{
	box-shadow:-5px 2px 3px #A9EAFE;
	cursor:pointer;
}

.zoom
{
	padding-top:2.5px;
	margin-left:5px;
}


#tableauCorps
{
width:100%;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
box-shadow:5px 10px 20px #046380;
border-left:0;
background-color: #FEFEFE;
max-height:500px;
padding-right:14px;
}

#tableauEntete
{
background-image: url('images/test/fondOrange.png');
background-repeat: no-repeat;
border-left:0;
background-size:100%;
}


#tableauSortie
{
	margin-top:9.5%;
	margin-bottom:0px;
	padding:0;
	background-color: #FEFEFE;
	min-width:100%;
}


#tableauSortieEntete
{
box-shadow:1px -2.5px 2px 0px #FFBD4F ;
height:50px;
text-align:center;
min-width:100%;
background-image: url('images/test/whitediamond_@2X.png');


}

#tableauSortieEntete>td
{
padding:0;
margin:0;
}

.sortieInfoAg
{
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	box-shadow:1px 2.5px 2px 0px #A9EAFE;
	margin-left:10%;
	border:1px solid orange;
	border-top:none;
	width:80%;
	height:30px;
	float:left;
	padding-bottom:10px;
	padding-top:5px;
	background-image: url('images/test/whitediamond_@2X.png');
}

.sortieInfoAgDepasse
{
		border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	box-shadow:1px 2.5px 2px 0px red;
	margin-left:10%;
	border:1px solid red;
	border-top:none;
	width:80%;
	height:30px;
	float:left;
	padding-bottom:10px;
	padding-top:5px;
	background-image: url('images/test/whitediamond_@2X.png');
}


.sortieInfoAg>input,.sortieInfoAgDepasse>input
{
	margin-left:5%;
}


.dateSortie
{
	float:left;
	margin: 0;
	border:0;
	background-color:white;
	box-shadow:3px 2px 5px #4DB5D4;
	border-left:none;
	border-bottom-right-radius:12px;
	border-top-right-radius:12px;
	padding:5px;
	margin-right:40px;
}

.infoSortie
{
	margin-left:80px;
}


#actionGlobSortie
{
	float:right;
	padding:10px;
	margin-right:20px;
	margin-top:20px;
	box-shadow:5px 2px 10px #046380;
	border-radius:12px;
	opacity:0.2;
	background-image: url('images/test/whitediamond_@2X.png');
}

#actionGlobSortie:hover
{
opacity:1;
}

#chargement
{
	margin-left:30%;
	margin-top:15%;
	position:fixed;
	display:none;
}


.check
{
width:1%;
word-wrap:break-word;
}


.id
{
width:3%;
word-wrap:break-word;
}

.sup
{
width:3%;
word-wrap:break-word;
}

.date
{
width:8%;
word-wrap:break-word;
}

.agence
{
width:5%;
word-wrap:break-word;
}

.collectivite
{
width:10%;
word-wrap:break-word;
}

.commune
{
width:7%;
word-wrap:break-word;
}

.info
{
width:7%;
word-wrap:break-word;
}

.etat
{
width:8%;
word-wrap:break-word;
}

.nomOp
{
width:7%;
word-wrap:break-word;
}

.ppv
{
width:5%;
word-wrap:break-word;
}

.ratSup
{
width:10%;
word-wrap:break-word;
margin-right:50px;
}

.repF
{
width:2%;
word-wrap:break-word;
}

.repC
{
width:2%;
word-wrap:break-word;
}

.mnemo
{
width:8%;
word-wrap:break-word;
}

.site
{
width:5%;
word-wrap:break-word;
}

.repF
{
width:3%;
word-wrap:break-word;
}


.typeDef
{
width:5%;
word-wrap:break-word;
}

.rgDef
{
width:2%;
word-wrap:break-word;
}

.info
{
width:8%;
word-wrap:break-word;
}

.statutClot
{
width:8%;
word-wrap:break-word;
}


.siteMsg
{
width:10%;
word-wrap:break-word;
}





.contact
{
width:8%;
word-wrap:break-word;
}

td
{
text-align:center;
font-size:15px;
position:Inherit;
}





.version
{
position:fixed;
cursor:pointer;
margin-top:2%;
background-color:#A9EAFE;
width:2%;
font-style:italic;
border:1px solid orange;
border-radius:15px 15px;
border-left:0;
border-top-left-radius:0px;
border-bottom-left-radius:0px;
}



.timerOut:hover
{
	padding-top:20px;
	font-size:22px;
	box-shadow:2px 2px 5px #DB0B32;
	transition: all .2s ease-out;
}


.timerOut
 {
	display:inline;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:10px 15px;
	border-top-left-radius:10px 15px;
	padding:2px;
	background:#A9EAFE;
	font-size:22px;
	transition: all .2s ease-in;
	color:orange;
	word-wrap:break-word;
	font-weight: bold;
	box-shadow:2px 2px 5px #DB0B32;
 }


.timerOut>a
{
	color:#DB0B32;
}


.cache
 {
 display:none;
 }



 
 
 
 div#sortieAgent
{
border-radius:10px 15px;
box-shadow:15px 20px 40px #4DB5D4;
width:40%;
background-color:white;
border:1px solid orange;
margin-top:35%;
padding:10px;
margin-left:5%;
min-height:320px;
}

 div#sortieAgentAjout
{
background-color:white;
border-radius:10px 15px;
padding:10px;
margin-left:5%;
}
 
 .listeAgent
 {
  float:left;
   height:80px;
     width:40%;
 }
 
  .selectAgent
 {
  float:right;
  height:80px;
  padding-bottom:5%;
  width:40%;
 }
 
  .actionSortie
 {
  text-align:center;
  margin-left:8%;
  cursor:pointer;
 }
 
 
 
 
 .actionSortie:hover
{
	box-shadow:-5px 2px 3px #A9EAFE;
}


.inputSortie
{
border-radius:10px 15px;
background-color:white;
border:1px solid orange;
bottom:0;
padding:5px;
width:15%;
}

 
 
 
header		/*HAUT PAGE*/
{
	background:#4DB5D4;
	border:2px solid orange;
	border-radius:12px;
	font-style:italic;
	width:90%;
	top:0;
	position:fixed;
	height:120px;
	margin-left:4%;
}

div#fonctionnalite		/*HAUT PAGE*/
{
	background:transparent;
	font-style:italic;
	width:100%;
	position:fixed;
	margin-top:150px;
	height:25px;
}

 div#tableau		/*HAUT PAGE*/
{
	background:transparent;
	width:100%;
	position:fixed;
	margin-top:200px;
}
	
	
	
.ongletPrin
{

	display:inline;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:10px 15px;
	border-top-left-radius:10px 15px;
	background:#A9EAFE;
	
	font-size:22px;
	box-shadow:1px 1px 10px #FEFEFE;
	color:orange;
	transition: all .2s ease-in;
	padding:3px;
	padding-top:15px;
	
}



.onglet
{
	font-size:20px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-right-radius:10px 15px;
	border-top-left-radius:10px 15px;
	background:#A9EAFE;
	transition: all .4s ease-in;
	display:inline;
	padding:3px;
	bottom:0;
	padding-bottom:25px;
}


ul.bluemenu {
 text-align:center;
 padding:0;
 margin:0;
height:25px;
padding-top:25px;
}

.menuOnglet {
    margin:0;
    width:100%;
	position:absolute;
	bottom:0;
	padding:0;
	z-index:20;
	overflow:hidden;
}




li
{
margin:0px;
}




	h1{
			text-align: center;
		}
		.modalLayer{
			display: none;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.3);
		}
		
		
		#modalCheck:checked + .modalLayer{
			display: block;
			
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0);
		}
		
		.popup_block{
			background: #fff;
			padding: 20px;
			border: 20px solid #ddd;
			position: relative;
			margin: 10% auto;
			width: 240px;
			box-shadow: 0px 0px 20px #000;
			border-radius: 10px;
		}
		img.btn_close {
			float: right;
			margin: -55px -55px 0 0;
			cursor: pointer;
		}
		.button{
			cursor: pointer;
			color: blue;
			text-decoration: underline;
		}
		
		
		.inputDate
		{			
			color:#f6931f; 
			font-weight:bold; 
			text-align:center;
			width:30px;
			background-color:transparent;
			width:100px;
			border:0.5px solid orange;
			border-radius:2px;
		}

		
		
		
		.champSortie
		{
			width:100%;
		}

		.labSortie
		{
			width:100%;
			margin-left:2px;
		}

		
		#formSortie
		{
			width:100%;
			height:100px;
			padding-top:20px;
		}
		
		#labelSortie
		{
			margin-left:3%;
			width:45%;
			float:left;
			padding-top:5px;
		}
		
		#inputSortie
		{
			margin-right:3%;
			width:45%;
			float:right;
		}
		
	